.header-container {
    height: 100px;
}

.logo{
    margin-top: 0px !important;
}

.registration-form-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;   
}

.registration-form-inner {
    background: #b4aee8;
    width: 50%;
    padding: 40px;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 80px;
}

.btn {
    padding: 0 20px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 0px;
}

.reasendmail-container-register {
    background: #b4aee8;
    border-radius: 5px;
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
    min-height: 100px;
    padding: 40px;
    text-align: center;
    color: #fff;
}

@media all and (max-device-width : 768px) and (min-device-width : 320px) {
    .registration-form-inner {
        background: #b4aee8;
        width: 100%;
        height: 100%;
        padding: 40px;
        border-radius: 5px;
        margin-left: 0;
        margin-top: 0;
    }

    .ant-col-12 {
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }

    .reasendmail-container-register {
        background: #b4aee8;
        border-radius: 5px;
        width: 85%;
        height: 40%;
        margin-top: 25%;
        margin-left: 5%;
        margin-right: 5%;
        min-height: 100px;
        padding: 25px;
        text-align: center;
        color: #fff;
    }
}